jenkins:
  agentProtocols:
    - "JNLP4-connect"
    - "Ping"
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: {{ JENKINS_ADMIN_ID }}
          password: {{ JENKINS_ADMIN_PASSWORD }}
        - id: "hashedadmin"
          # password is 'password'
          password: "#jbcrypt:$2a$10$LP4bMhwyCPnsDm.XRcTZSuBqWYKGAiDAsQXrSrJGYcEd9padaPgsC"
  authorizationStrategy: loggedInUsersCanDoAnything
  clouds:
    - docker:
        dockerApi:
          connectTimeout: 60
          dockerHost:
            uri: "{{ DOCKER_HOST }}"
          readTimeout: 60
        exposeDockerHost: true
        name: "docker"
        templates:
          - connector:
              jnlp:
                jenkinsUrl: "{{ JENKINS_CONTROLLER_URL }}"
                jnlpLauncher:
                  workDirSettings:
                    disabled: false
                    failIfWorkDirIsMissing: false
                    internalDir: "remoting"
                user: "jenkins"
            dockerTemplateBase:
              cpuPeriod: 0
              cpuQuota: 0
              image: "{{ JENKINS_AGENT_IMAGE }}"
            labelString: "jenkins-agent"
            mode: EXCLUSIVE
            name: "jnlp"
            pullTimeout: 300
            remoteFs: "/home/jenkins"
          - connector:
              jnlp:
                jenkinsUrl: "{{ JENKINS_CONTROLLER_URL }}"
                jnlpLauncher:
                  workDirSettings:
                    disabled: false
                    failIfWorkDirIsMissing: false
                    internalDir: "remoting"
                user: "jenkins"
            dockerTemplateBase:
              cpuPeriod: 0
              cpuQuota: 0
              image: "{{ JENKINS_AGENT_CUSTOM_IMAGE }}"
            labelString: "jenkins-agent-test"
            mode: EXCLUSIVE
            name: "jnlp-configured"
            pullTimeout: 300
            remoteFs: "/home/jenkins"
    - docker:
      dockerApi:
        connectTimeout: 60
        dockerHost:
          credentialsId: "Jenkins-cert"
          uri: {{ DOCKER_HOST }}
        readTimeout: 60
      exposeDockerHost: true
      name: "docker"
      templates:
      - connector: "attach"
        dockerTemplateBase:
          cpuPeriod: 0
          cpuQuota: 0
          image: "{{ JENKINS_AGENT_JDK11_IMAGE }}"
        labelString: "jenkins-agent"
        mode: EXCLUSIVE
        name: "jenkins-agent"
        #pullStrategy: PULL_ALWAYS
        pullTimeout: 300
        remoteFs: "/home/jenkins"
unclassified:
  themeManager:
    disableUserThemes: true
    theme: "darkSystem" # use 'dark' for forcing the dark theme regardless of OS settings